<footer>
    <div class="f-info">
        <div class="f-info-socials">
            <a href="https://www.facebook.com/rushikesh.manjare.31"><i class="fa-brands fa-square-facebook animate__animated animate__flip animate__infinite "></i></a>
            <a href="https://www.instagram.com/rushikesh_manjre/"><i class="fa-brands fa-square-instagram animate__animated animate__flip animate__infinite"></i></a>
            <a href="https://www.linkedin.com/in/rushikesh-manjre-690350295/"> <i class="fa-brands fa-linkedin animate__animated animate__flip animate__infinite"></i></a>
        </div>

        <div class="f-info-brand"> &copy; WanderLust Private Limited</div>
        <div class="f-info-links">
            <a href="/privacy">Privacy</a>
            <a href="/terms">Terms</a>
        </div>
    </div>
</footer>